// Body
$body-bg: #fffff;

// Typography
$fa-font-path: "../fonts" !default;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Playfair Display', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #6f42c1;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Branding
$primary: #F57077;
$promo: rgb(20,20,64);
$brand-purple: rgb(66,78,157);
