
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Playfair+Display');
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  border-top: 5px solid $brand-purple;
  color: dimgray;
  padding-bottom: 5em;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: $promo;
}

.btn-outline-secondary {
  border-color: rgb(206, 212, 218);
}

.dropdown-toggle::after {
  color: $primary;
}

#blob {
  width: 20em;
  position: absolute;
  left: 17em;
  top: 44em;
}

#halftone {
  width: 15em;
  position: absolute;
  top: 28em;
  left: 54em;
}

@media (max-width: 768px) {
  #blob, #halftone, nav {
    display: none !important;
  }
}
