
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

ul {
  list-style: none;
  padding-left: 0;
}

li {
  &:before {
    content: '';
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    background-image: url(../img/checkmark-lined.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 3em;
    margin-right: 1em;
  }
}
